<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/LandingPage.css' %}">
    </head>
    <body>
        <h1><b>Landing Page</b></h1>
        <i>This will be the common login page for all, depending on login id we shall redirect them to other pages</i>

        <h3><a href="{% url 'accounts:login' %}"><button type="button" name="customer">login</button></a></h3>

        <br><br><br>
        <i>this signup page will be available to banks only, for testing it is present here now</i>
        <h3><a href="{% url 'bank:bank_home' %}"><button type="button" name="customer">bank</button></a></h3>

    </body>
</html>
