<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/customerHome.css' %}">
    </head>
    <body>

        {% if customer_type %}
        <h4>customer type id {{customer_type}}</h4>


<br>
        {% if phone %}
        <h2>{{phone}}</h2>

        <div class="form-container">
		<form class="phone-number-form" id="phone-number-form" method="post">
		    {% csrf_token %}
		    <div id="recaptcha-container"></div>
		    <button type="button" id="send-code-button" onclick="phoneAuth();">Send Code</button>
		</form>
		<h1>Enter verification code</h1>
		<form class="otp-form" id="otp-form" method="post">
		    {% csrf_token %}
		    <input type="text" name="otp-number" id="otp-number" maxlength = "6" value="" required>
		    <div></div>
		    <button type="button" id="verify-button" onclick="codeVerify();" name="button">Verify</button>
		</form>
</div>
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"> </script>
<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
      apiKey: "AIzaSyDo7gxS0VaOMNZoa9-utmZXdyPZ_QyI0D4",
      authDomain: "crypters-c6f53.firebaseapp.com",
      projectId: "crypters-c6f53",
      storageBucket: "crypters-c6f53.appspot.com",
      messagingSenderId: "902350997734",
      appId: "1:902350997734:web:8d49e2212e4605e0fcd327"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  </script>

<script type="text/javascript">

    var number;
    window.onload=function() {
        render();
    }
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }
    function phoneAuth(){
        number = {{phone}};
        number = "+91" + number;
        alert(number);
        firebase.auth().signInWithPhoneNumber(number,window.recaptchaVerifier).then(function(confirmationResult){
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
        }).catch(function(error){
            alert(error.message);
        });
    }

    function codeVerify() {
        document.getElementById("verify-button").disabled = true;
        var code = document.getElementById('otp-number').value;
        coderesult.confirm(code).then(function(result) {
            var user = result.user;
            console.log(user);
            user_id = user.uid.toString();
            alert ("verified");
            window.location.replace("verified/);
        }).catch(function(error){
            alert(error.message);
        });
    }
</script>

        {% else %}
        <form action="{% url 'customer:get_number' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" value="">
            <button type="submit" name='mybtn2' value="">verify</button>
        </form>
        {% endif %}
<br>
</div>
        {% endif %}

        <a href="{% url 'customer:customer_history' %}"><button type="button" name="customer">History</button></a>
        <a href="{% url 'customer:customer_profile' %}"><button type="button" name="customer">Profile</button></a>
        <br><br><br><br>
        <h1>customer home</h1>
        {% for amount, emi_amount, period, interest, issue_date, end_date, emi_start_date, emi_end_date in main_list%}
        <hr>
        <h2>current loan:</h2>
        amount : {{amount}} <br>
        period : {{period}}months <br>
        loan issue date : {{issue_date}} <br>
        loan end date : {{end_date}} <br>
        emi amount : {{emi_amount}} <br>
        emi start date : {{emi_start_date}}<br>
        emi end date : {{emi_end_date}} <br>
        <hr>
        {% endfor %}
    </body>
</html>
