<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <title>Shopkeeper Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="{% static 'css/customerHome.css' %}">
    </head>
    <body>



        <!-- Links (sit on top) -->
        <div class="w3-top">
          <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3">
              <a href="{% url 'customer:customer_home' %}" class="w3-button w3-block ">HOME</a>
            </div>

            <div class="w3-col s3">
              <a  href="{% url 'customer:customer_history' %}" class="w3-button w3-block ">HISTORY</a>
            </div>

             <div class="w3-col s3  ">
              <a href="{% url 'customer:customer_profile' %}" class="w3-button w3-block ">My Profile</a>
            </div>

        <div class="w3-col s3">
              <form class="example"  style="margin:auto;max-width:300px">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><a href="#"></a>Verify</button>
              </form>
          </div>






          </div>
        </div>

        <!-- Header with image -->
        <header class="bgimg w3-display-container w3-grayscale-min" id="home">
          <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small w3-large w3-ca">
            <span class="w3-tag">Customer ID: Shopkeeper</span>
          </div>
          <div class="w3-display-middle w3-center">
            <span class="w3-text-white" style="font-size:50px">Every Bit Is<br>Worth It</span>
          </div>



        </header>

        <!-- Add a background color and large text to the whole page -->
        <div class="w3-sand w3-grayscale w3-large">


            <!-- Added Current Loans-->
            <div class="loans">
                {% for amount, emi_amount, period, interest, issue_date, end_date, emi_start_date, emi_end_date in main_list%}
                <hr>
                <h2>current loan:</h2>
                amount : {{amount}} <br>
                period : {{period}}months <br>
                loan issue date : {{issue_date}} <br>
                loan end date : {{end_date}} <br>
                emi amount : {{emi_amount}} <br>
                emi start date : {{emi_start_date}}<br>
                emi end date : {{emi_end_date}} <br>
                <hr>
                {% endfor %}
            </div>

        <!-- About Container -->
        <div class="w3-container" id="about">
          <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias molestias laborum dolore voluptatem atque ex. Eaque deleniti facilis ad voluptas, eum necessitatibus unde soluta velit, neque ab cum sint expedita!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo harum nihil accusamus optio eligendi inventore impedit minima voluptatibus illo quidem ipsam ipsum eveniet maxime omnis hic a, est dolores labore.</p>

          </div>
        </div>


        <!-- Contact/Area Container -->
        <div class="w3-container" id="where" style="padding-bottom:32px;">
          <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Contact US</span></h5>

            <form action="/action_page.php" target="_blank">
              <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
              <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="E-mail ID" required name="E-mail ID"></p>

              <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>
              <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
              <p><button class="w3-button w3-black" type="submit">SEND MESSAGE</button></p>
            </form>
          </div>
        </div>

        <!-- End page content -->
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
          <div class="copyright">
            &copy; Copyright <strong><span>NIT Hamirpur</span></strong>. All Rights Reserved
          </div>
        </footer>

        <script>
        // Tabbed Menu
        function openMenu(evt, menuName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("menu");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
          }
          document.getElementById(menuName).style.display = "block";
          evt.currentTarget.firstElementChild.className += " w3-dark-grey";
        }
        document.getElementById("myLink").click();
        </script>




        {% if customer_type %}
        <br>
        {% if phone %}
        <h2>{{phone}}</h2>

        <div class="form-container">
		<form class="phone-number-form" id="phone-number-form" method="post">
		    {% csrf_token %}
		    <div id="recaptcha-container"></div>
		    <button type="button" id="send-code-button" onclick="phoneAuth();">Send Code</button>
		</form>
		<h1>Enter verification code</h1>
		<form class="otp-form" id="otp-form" method="post">
		    {% csrf_token %}
		    <input type="text" name="otp-number" id="otp-number" maxlength = "6" value="" required>
		    <div></div>
		    <button type="button" id="verify-button" onclick="codeVerify();" name="button">Verify</button>
		</form>
</div>
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"> </script>
<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
      apiKey: "AIzaSyDo7gxS0VaOMNZoa9-utmZXdyPZ_QyI0D4",
      authDomain: "crypters-c6f53.firebaseapp.com",
      projectId: "crypters-c6f53",
      storageBucket: "crypters-c6f53.appspot.com",
      messagingSenderId: "902350997734",
      appId: "1:902350997734:web:8d49e2212e4605e0fcd327"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  </script>

<script type="text/javascript">

    var number;
    window.onload=function() {
        render();
    }
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }
    function phoneAuth(){
        number = {{phone}};
        number = "+91" + number;
        alert(number);
        firebase.auth().signInWithPhoneNumber(number,window.recaptchaVerifier).then(function(confirmationResult){
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
        }).catch(function(error){
            alert(error.message);
        });
    }

    function codeVerify() {
        document.getElementById("verify-button").disabled = true;
        var code = document.getElementById('otp-number').value;
        coderesult.confirm(code).then(function(result) {
            var user = result.user;
            console.log(user);
            user_id = user.uid.toString();
            alert ("verified");
            window.location.replace("verified/");
        }).catch(function(error){
            alert(error.message);
        });
    }
</script>

        {% else %}
        <form action="{% url 'customer:get_number' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" value="">
            <button type="submit" name='mybtn2' value="">verify</button>
        </form>
        {% endif %}
<br>
</div>
        {% endif %}
    </body>
</html>
