<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/customerProfile.css' %}">
    </head>
    <body>
        <h1>customer Profile</h1>
        <h2>username : {{username}}</h2>
        <h2>name : {{name}}</h2>
        <h3>date_of_birth : {{date_of_birth}}</h3>
        <h3>age : {{age}}</h3>
        <h3>gender : {{gender}}</h3>
        <h3>profession : {{profession}}</h3>
        <h3>user_type : {{user_type}}</h3>
        <h3>mobile_number : {{mobile_number}}</h3>
        <h3>additional_mobile_number : {{additional_mobile_number}}</h3>
        <h3>address : {{address}}</h3>
        <h3>city : {{city}}</h3>
        <h3>state : {{state}}</h3>
        <h3>pin_code : {{pin_code}}</h3>
        <h3>balance : {{balance}}</h3>
    </body>
</html>
