<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/customerHistory.css' %}">
    <title>Customer History</title>

</head>
<body>
    <div class="topnav" id="myTopnav">
        <img src="{% static 'media/logo2.png' %}" alt="logo" style="float: left;height:45px;margin :10px;">
        <a href="{% url 'customer:customer_home' %}" >Home</a>
         <a href="{% url 'customer:customer_history' %}" class="active">History</a>
          <a href="{% url 'customer:customer_profile' %} ">My Profile</a>

        <a href="{% url 'landing_page' %}">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>

        </a>
      </div>
     <div style="overflow-x:auto;">
  <table>
  <caption style="text-align:center; font-weight: bold; font-size: 29px;">Transaction Table</caption>
    <tr>
      <th>Amount</th>
      <th>Depositor</th>
      <th>Transaction time</th>

    </tr>
    {% for amount, depositor, time in trans_list%}
    <tr>
      <td>Rs. {{amount}}</td>
      <td>{{depositor}}</td>
      <td>{{time}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div style="overflow-x:auto;">
  <table>
  <caption style="text-align:center; font-weight: bold; font-size: 29px;">History of loans</caption>
    <tr>
      <th>Amount</th>
      <th>Period</th>
      <th>Issue Date</th>
      <th>Last Date</th>
      <th>EMI</th>
    </tr>
    {% for amount, emi_amount, period, interest, issue_date, end_date in loan_list%}
       <tr>
           <th>Rs. {{amount}}</th>
           <th>{{Period}} months</th>
           <th>{{issue_date}}</th>
           <th>{{end_date}}</th>
           <th>Rs. {{emi_amount}}</th>
       </tr>
    {% endfor %}
  </table>
</div>



      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>

</body>
</html>
