<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="{% static 'css/customerHistory.css' %}">
    </head>
    <body>
        <!-- Links (sit on top) -->
        <div class="w3-top">
          <div class="w3-row w3-padding w3-black">
              <div class="w3-col s3">
                <a href="{% url 'customer:customer_home' %}" class="w3-button w3-block ">HOME</a>
              </div>

              <div class="w3-col s3">
                <a  href="{% url 'customer:customer_history' %}" class="w3-button w3-block ">HISTORY</a>
              </div>

               <div class="w3-col s3  ">
                <a href="{% url 'customer:customer_profile' %}" class="w3-button w3-block ">My Profile</a>
              </div>

          </div>
        </div>


        <div class="t1">
        <table style="width: 50%">
          <caption>History Of Transactions</caption>

          <tr>
           <th>Amount</th>
           <th>Depositor</th>
           <th>Loan Issue Time</th>
           <th>Loan Last</th>
           <th>Loan Reason</th>
         </tr>

          {% for amount, depositor, time in trans_list%}
          <tr>
            <td>{{amount}}</td>
            <td>{{depositor}}</td>
            <td>{{time}}</td>
          </tr>
          {% endfor %}
          </table>
        </div>


        <div class="t1">
        <table style="width: 50%">
          <caption>History Of Loans</caption>

          <tr>
           <th>Amount</th>
           <th>Period</th>
           <th>Issue Date</th>
           <th>Last Date</th>
           <th>EMI</th>
         </tr>

         {% for amount, emi_amount, period, interest, issue_date, end_date in loan_list%}
            <tr>
                <th>Rs. {{amount}}</th>
                <th>{{Period}} months</th>
                <th>{{issue_date}}</th>
                <th>{{end_date}}</th>
                <th>Rs. {{emi_amount}}</th>
            </tr>
         {% endfor %}
          </table>
        </div>


        <div class="footer">
          &copy; Copyright <strong><span>NIT Hamirpur</span></strong>. All Rights Reserved
        </div>

      <script>
      // Tabbed Menu
      function openMenu(evt, menuName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("menu");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
        }
        document.getElementById(menuName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-dark-grey";
      }
      document.getElementById("myLink").click();
      </script>
    </body>
</html>
