body {
  margin: 0;
  font-family: "Lato", sans-serif,Arial;
  background-color:  #0d217c6e;
}
* {
  box-sizing: border-box;
}
.title {
  color: grey;
  font-size: 18px;
}
 
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 4px;
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:.5px solid rgba(255, 255, 255, 0.527);
}
b {
  text-decoration: none;
  font-size:20px;
  color: black;
}

button:hover, b:hover {
  opacity: 0.8;
  font-size:14px;
}
.sidebar {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  width:100%;
  background-color: #f1f1f1;
  position: relative;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding:10px;
  text-decoration: none;
  text-align: center;
  font-family: arial;
  font-size:20px;
}
 
.sidebar a.active {
  background-color: #917cb8;
  color:#f1f1f1;
 
}

.sidebar a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.801);
  color: rgba(0, 0, 0, 0.801);
  border-bottom:3px solid #f1f1f1;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.sidebar .icon {
  display: none;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 600px) {
  .sidebar a:not(:first-child) {display: none;}
  .sidebar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .sidebar.responsive {position: relative;}
  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

 