<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'css/bankPastLoan.css' %}">
    </head>
    <body>
        <h1>bank Loans</h1>

        {% for user, username, amount, emi_amount, period, interest, issue_date, end_date in main_list %}
        <hr>
            user : {{user}}
            username : {{username}}
            amount : {{amount}}
            emi_amount : {{emi_amount}}
            period : {{period}}months
            interest : {{interest}}
            issue_date : {{issue_date}}
            end_date : {{end_date}}
            <hr>
        {% endfor %}

    </body>
</html>
